<div class="row two calendarTwo" id="calAndView">
	<div class="column twoA calendarView">

		<div class="month">
			<ul>
				<li class="prev" onclick="monthPrev()">&#10094;</li>
				<li class="next" onclick="monthNext()">&#10095;</li>
				<li class="yearMonth" id="{{date.month}}{{date.year}}">{{date.monthName}}<br>{{date.year}}</li>
			</ul>
		</div>

		<ul class="weekdays">
			<li>Mo</li>
			<li>Tu</li>
			<li>We</li>
			<li>Th</li>
			<li>Fr</li>
			<li>Sa</li>
			<li>Su</li>
		</ul>

		<ul id="dayz" class="days">

		</ul>
	</div>

	<div class="column twoC todayView">
		<p id="todayLabel">Today</p>
		<div id="todayList">
			
			{{#each eventsMonth }}
				<div id="{{this.id}}" name="{{this.displayDate}}">
				<ul>
				<li>{{this.subject}}</li>
				<li>{{this.displayDate}}</li>
				<li>{{this.displayTime}}</li>
				</ul>
				<button class="btn more btn-link btn-block text-right" type="button" data-toggle="collapse" data-target="#more{{this.id}}" aria-expanded="false" aria-controls="more{{this.id}}">
					 More
  				</button>	
				<ul class="collapse moreEles" id="more{{this.id}}">
					<li><a href="{{this.webLink}}">View on Outlook.com</a></li>
					<li>{{{this.displayBody}}}</li>
				</ul>
			
			</div>
			{{/each}}
		</ul>
	</div>

</div>