<script src="/wsAppointments.js"></script>




<h1 id="headingApt">Book an appointment.</h1>

{{#if message}}
{{#each message}}
<div class="alert alert-{{this.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h5>{{this.message}}</h5>
  
</div>
{{/each}}
{{/if}}

<div class="row two appointmentTwo">
    <div class="column twoA appointmentView">

       
        <form class="appointmentForm" action="./appointments/getAppointmentDet" method="post" onsubmit="myButton.disabled = true; return true;">
            <div class="form-group" id="apt-radio">
                <label class="Atype" for="Atype">Appointment Type</label>

                <div class="radioContainer">

                <label class="radio rSales" for="retailSales">
                    <input type="radio" id="retailSales" name="aptType" value="Sales Advisor"
                        onclick="showRelCollegues(this.value)">
                    <br>Retail Sales</label>

                <label class="radio repairs" for="repairs">
                    <input type="radio" id="repairs" name="aptType" value="Device Doctor"
                        onclick="showRelCollegues(this.value)">
                    <br>Repairs</label>

                <label class="radio bSales" for="busSales">
                    <input type="radio" id="busSales" name="aptType" value="Business Advisor"
                        onclick="showRelCollegues(this.value)">
                    <br>Business Sales</label>

                </div>

            </div>


            <div class="form-group">
                <label class="schF" for="scheduledFor">Scheduled For:</label>
                <select id="colleagues" name="colleagues">
                    {{#each members }}<option name="scheduleFor" id="schFor" value="{{this.displayName}}">
                        {{this.displayName}} ( {{this.jobTitle}} )</option>
                    {{/each}}
                </select>
                <label  class="schB"for="scheduledBy">Scheduled By:</label>
                <input required class="form-control" type="text" id="schBy" name="scheduledBy"
                    value="{{ user.displayName }}" readonly>
            </div>

            <div class="form-group">

                <label class="schTime" for="dateTime">Appointment date & start time:</label>
                <select id="time" name="time">
                    <option value="9:00 AM">9:00 AM</option>
                    <option value="9:15 AM">9:15 AM</option>
                    <option value="9:30 AM">9:30 AM</option>
                    <option value="9:45 AM">9:45 AM</option>

                    <option value="10:00 AM">10:00 AM</option>
                    <option value="10:15 AM">10:15 AM</option>
                    <option value="10:30 AM">10:30 AM</option>
                    <option value="10:45 AM">10:45 AM</option>

                    <option value="11:00 AM">11:00 AM</option>
                    <option value="11:15 AM">11:15 AM</option>
                    <option value="11:30 AM">11:30 AM</option>
                    <option value="11:45 AM">11:45 AM</option>

                    <option value="12:00 PM">12:00 PM</option>
                    <option value="12:15 PM">12:15 PM</option>
                    <option value="12:30 PM">12:30 PM</option>
                    <option value="12:45 PM">12:45 PM</option>

                    <option value="1:00 PM">1:00 PM</option>
                    <option value="1:15 PM">1:15 PM</option>
                    <option value="1:30 PM">1:30 PM</option>
                    <option value="1:45 PM">1:45 PM</option>

                    <option value="2:00 PM">2:00 PM</option>
                    <option value="2:15 PM">2:15 PM</option>
                    <option value="2:30 PM">2:30 PM</option>
                    <option value="2:45 PM">2:45 PM</option>

                    <option value="3:00 PM">3:00 PM</option>
                    <option value="3:15 PM">3:15 PM</option>
                    <option value="3:30 PM">3:30 PM</option>
                    <option value="3:45 PM">3:45 PM</option>

                    <option value="4:00 PM">4:00 PM</option>
                    <option value="4:15 PM">4:15 PM</option>
                    <option value="4:30 PM">4:30 PM</option>
                    <option value="4:45 PM">4:45 PM</option>

                    <option value="5:00 PM">5:00 PM</option>
                    <option value="5:15 PM">5:15 PM</option>
                    <option value="5:30 PM">5:30 PM</option>
                    <option value="5:45 PM">5:45 PM</option>
                </select>
                <input type="date" id="dateTime" name="dateTime">
                
                <label class="schLen" for="appointmentLength">Appointment Length:</label>
                <select id="times" name="appointmentLength">
                    <option value="15">15 Minutes</option>
                    <option value="30">30 Minutes</option>
                    <option value="60">1 Hour</option>
                </select>
                

                <div class="btn-group">
                    {{#if checkedData}}
                    <button type="button" class="btn btn-light" disabled>Check
                        Availability</button>
                    {{else}}
                    <button type="submit" name="myButton" class="btn btn-primary" id="checkA">Check
                        Availability</button>
                    {{/if}}
                    <a href='/' class="btn btn-secondary">Cancel</a>
                </div>
            </div>

        </form>

    </div>
    <div class="column twoC bookAtt" id="bookAtt">
        {{#if this.checkedData}}
        {{!-- <h3 id="bookCon">Booking Confirmation</h3> --}}
        {{#if this.availability}}

        <form class="appointmentForm appForm2" action="./getAppointmentDet/createAppointment" method="post">

            <span>
                <h4>This Appointment is: <span class="true">Available</span></h4>
            </span>

            <label for="fnameR">First name:</label>
            <input class="form-control" type="text" id="fname" name="firstName" value="" >
            <label for="lnameR">Last name:</label>
            <input class="form-control" type="text" id="lname" name="lastName" value="" >
            <label for="phoneR">Phone Number:</label>
            <input class="form-control" type="text" id="phone" name="phone" value="" >
            <label for="deviceR">Device:</label>
            <input class="form-control" type="text" id="device" name="device" value="">
            <label for="noteR">Note:</label>
            <textarea class="form-control" id="noteApt" name="appNote" rows="3" value=""></textarea>
            <label for="scheduledForR">Scheduled For:</label>
            <input class="form-control" type="text" id="scheduledForR" name="scheduledForR"
                value="{{ this.appointmentDetails.scheduledFor }} " readonly>
            <label for="dateTime">Appointment times & date:</label>
            <input class="form-control" type="text" id="dateTimeR" name="dateTimeR"
                value="{{ this.displayDate }}" readonly>
            </br>
            <button type="submit" class="btn btn-primary" id="confirm">Confirm</button>
            <a href='/appointments' class="btn btn-secondary" id="cancel2">Cancel</a>
        </form>

        {{else}}
        <span>
            <h4>Availability: <span class="false">Unavailable</span></h4>
        </span>
        {{#if this.busy}}
        This employee is busy at:</br>
        {{#each this.appsConflict}} <h5>{{this.times}}</h5></br>
        {{/each}}
        {{/if}}
        
        <p>Please alter your booking as this slot is not available</p>
        <a href='/appointments' class="btn btn-primary">Check For another time.</a>
        {{/if}}

        {{/if}}
    </div>

</div>

<div class="row three notesThree">
    <div class="column threeA">

    </div>

    <div class="column threeB">

    </div>


    <div class="column threeC">

    </div>

</div>
</div>
